<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | safe }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d9fdd2dfde.js" crossorigin="anonymous"></script>
  <style>
    :root {
      --main-bg-color: #3D3939;
      --main-text-color: #D9D9D9;
      --main-link-color: #FCEFE1;
      --main-title-color: #C6DFF0;
    }

    html,
    body,
    #root {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      line-height: inherit;
      padding: 0;
      margin: 0;
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      font-family: 'Merriweather Sans', sans-serif;
    }

    a {
      color: var(--main-link-color);
    }

    a,
    button {
      -webkit-tap-highlight-color: transparent;
    }

    @media (max-width: 660px) {
      .max-w-screen-sm {
        max-width: 80%;
      }
    }

    @media (min-width: 660px) {
      .max-w-screen-sm {
        max-width: 640px;
      }
    }

    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    .title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--main-title-color);
    }
  </style>
</head>

<body>
  <div id="root">
    {{ content | safe }}
  </div>
</body>

</html>
